body {
  width: 100vw;
}

.header--image-wrapper {
  position: relative;
}

.header--image {
  height: 480px;
  width: 100%;
  object-fit: cover;
}

.header--image__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  font-size: 48px;
  font-weight: 800;
}

::-webkit-scrollbar {
  display: none;
}
